page-login {

  .mybutton {
    background-color:#000000 !important;
    color: #bbffbb !important;
    border: 1px solid  #bbffbb !important;
  }

  button:disabled,
  button[disabled]{
    background-color:#559955;
    color: #666666;
  }

}
