page-changerad {
  .mygreen {
    color: #33ff33;
  }
  .lgreen {
    //color: #bbffbb;
    color: #559955;
  }
  .bigicon {
    font-size: 1.5em !important;
  }
  .verybigicon {
    font-size: 2.2em !important;
  }

  .mainbg {
    background-color: #000000;
    color: #33ff33;
    // font-family: 'overseer' !important;
    //  font-size: 1.8em;
  }
  .myfont {
    font-family: 'overseer' !important;
    font-size: 2em;
  }

  .leftboxes {
    border: 2px solid;
    border-color: #33ff33;
    background-color:#bbffbb;
    color: #000000;
  }
  .mybutton {
    background-color: #000000;
    color: #33ff33;
    // border: 1px solid  #bbffbb;
    // font-size: 1.1em;
    font-size: 3em !important;
    display: block;
    width: 100%;
  }
  .mybutton {
    background-color: #000000;
    color: #33ff33;
    font-size: 2em !important;
    display: block;
    width: 100%;
  }
  button:disabled {
    background-color: #000000;
    color: #bbffbb;
    font-size: 2em !important;
    display: block;
    width: 100%;
  }
  .mybutton2 {
    background-color: #000000;
    color: #33ff33;
    border: 1px solid  #bbffbb;
    // font-size: 1.1em;
    font-size: 2em !important;
    display: block;
    width: 100%;
  }
}
