page-changevenom {

  .leftboxes {
    border: 2px solid;
    border-color: #33ff33;
    background-color:#bbffbb;
    color: #000000;
  }
  .mybutton {
    background-color: #000000;
    color: #33ff33;
    font-size: 3em !important;
    display: block;
    width: 100%;
  }
  .mybutton {
    background-color: #000000;
    color: #33ff33;
    font-size: 2em !important;
    display: block;
    width: 100%;
  }
  button:disabled {
    background-color: #000000;
    color: #bbffbb;
    font-size: 2em !important;
    display: block;
    width: 100%;
  }
  .mybutton2 {
    background-color: #000000;
    color: #33ff33;
    border: 1px solid  #bbffbb;
    font-size: 2em !important;
    display: block;
    width: 100%;
  }
}
