page-home {

  .leftboxes {
    border: 2px solid;
    border-color: #33ff33;
    background-color: #bbffbb;
    color: #000000;
  }
  .mybutton {
    background-color: #000000;
    color: #33ff33;
    border: 1px solid  #bbffbb;
    font-size: 1.1em;
    display: block;
    width: 100%;
  }
  .fullborder {
    border: 1px solid;
    border-color: #33ff33;
    text-align: center;
  }
  .fab {
    height: 16px !important;
    width: 16px !important;
  }
}
