// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'overseer';
    src: url('/assets/fonts/Overseer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mainbg {
  background-color: #000000;
  color: #33ff33;
  // font-family: 'overseer' !important;
  //  font-size: 1.8em;
}

.myfont {
  font-family: 'overseer' !important;
  font-size: 2em;
}

.myfont25 {
  font-family: 'overseer' !important;
  font-size: 2.5em !important;
  color: #33ff33;
}

.myclass {
  background-color: #bbffbb;
  color: #000000;
  border: 1px solid  #33ff33;
}

.mygreen {
  color: #33ff33;
}
.lgreen {
  color: #559955;
}

.bigicon {
    font-size: 1.5em !important;
}
.big2icon {
    font-size: 1.3em !important;
}
.verybigicon {
  font-size: 2.2em !important;
}

.mylink {
  color: #33ff33 !important;
  font-size: 0.8em !important;
}

.myborder {
  border: 1px solid  #bbffbb !important;
}
