page-register2 {

  .mybutton {
    background-color:#000000 !important;
    color: #bbffbb !important;
    font-size: 1.1em;
  }

  button:disabled,
  button[disabled]{
    background-color:#559955;
    color: #666666;
  }


}
