page-register2 {
  .mainbg {
    background-color: #000000;
    color: #33ff33;
    // font-family: 'overseer' !important;
    //  font-size: 1.8em;
  }
  .myfont {
    font-family: 'overseer' !important;
    font-size: 2.5em !important;
    color: #33ff33;
  }
  .myclass {
    background-color: #bbffbb;
    color: #000000;
    border: 1px solid  #33ff33;
  }

  .mybutton {
    background-color:#000000 !important;
    color: #bbffbb !important;
    // border: 1px solid  #bbffbb !important;
    font-size: 1.1em;
  }

  .myborder {
    border: 1px solid  #bbffbb !important;
  }

  .mylink {

    color: #33ff33 !important;
    font-size: 0.8em !important;
    // border: 1px solid  #bbffbb !important;
  }

  button:disabled,
  button[disabled]{
    //border: 1px solid #999999;
    background-color:#559955;
    color: #666666;
  }

  .mygreen {
    color: #33ff33;
  }
  .lgreen {
    //color: #bbffbb;
    color: #559955;
  }
}
