page-addpx {

  .mybutton {
    background-color:#000000 !important;
    color: #bbffbb !important;
    font-size: 1.1em;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  button:disabled,
  button[disabled]{
    background-color:#559955;
    color: #666666;
  }

}
